{% extends 'index.html' %}


{% block caption %}
    <h3 class="panel-title">新增作者</h3>
{% endblock %}


{% block content %}
    <form action="{% url 'author_add' %}" method="post">
        <p>
            姓名：
            <input type="text" class="form-control" name="name">
        </p>
        <p>
            年龄：
            <input type="text" class="form-control" name="age">
        </p>

        <p>
            性别：
            <input type="radio" name="gender" value="0">女
            <input type="radio" name="gender" value="1">男
            <input type="radio" name="gender" value="2">保密
        </p>
        <p>
            作者简介：
            <textarea name="info" id="" class="form-control" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" class="btn btn-success" value="新增">
        </p>
    </form>
{% endblock %}