{% extends 'index.html' %}

{% load static %}

{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static 'css/index.css' %}">#}
{#{% endblock %}#}



{% block caption %}
    <h3 class="panel-title">图书列表</h3>
{% endblock %}





{% block content %}

    <form class="navbar-form navbar-left" action="{% url 'book_list' %}">
        <div class="row">
            <a href="{% url 'book_add' %}" class="btn btn-success">新增</a>
            <select name="category" id="" class="form-control">
                <option value="name">书名</option>
                <option value="authors__name">作者</option>
                <option value="publish__name">出版社</option>
            </select>
            <div class="form-group">
                <input type="text" class="form-control" name="content" placeholder="请输入搜索关键词...">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </div>
    </form>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>图书名称</th>
            <th>作者</th>
            <th>图书价格</th>
            <th>出版日期</th>
            <th>出版社</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for book_obj in page_queryset %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book_obj.name }}</td>
                <td>
                    {% for author_obj in book_obj.authors.all %}
                        {% if forloop.last %}
                            {{ author_obj }}
                        {% else %}
                            {{ author_obj }},
                        {% endif %}
                    {% endfor %}

                </td>
                <td>{{ book_obj.price }}</td>
                <td>{{ book_obj.publish_date|date:'Y-m-d' }}</td>
                <td>{{ book_obj.publish.name }}</td>
                <td class="text-center">
                    <a href="{% url 'book_edit' book_obj.pk %}" class="btn btn-xs btn-primary">编辑</a>
                    <button class="btn btn-xs btn-danger btn-delete" delete_url="{% url 'book_delete' %}" delete_id="{{ book_obj.pk }}">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {#分页器#}
    <div class="text-center">{{ page_obj.page_html|safe }}</div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/cancel_confirm.js' %}"></script>
{% endblock %}