{% extends 'index.html' %}

{% block caption %}
    <h3 class="panel-title">登录页面</h3>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {% for form in form_obj %}
                    <label for="id_{{ form.name }}">{{ form.label }}:</label>
                    <span style="color: red" class="small error-tip">{{ form.errors.0 }}</span>
                    <p>{{ form }}</p>
                {% endfor %}
                <span style="color: red" class="small error-tip">{{ login_error }}</span>
                <p class="text-center">
                    <input type="submit" class="btn btn-info" value="登录">
                    <a href="{% url 'register' %}" class="small pull-right">没有账号，注册一个</a>
                </p>

            </form>
        </div>
        <div class="col-md-6">
            <a href="#" class="thumbnail">
                <img src="https://cdn.pixabay.com/photo/2017/08/02/09/40/sunset-2570443__480.jpg" alt="...">
            </a>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>

    </script>
{% endblock %}